
/**/*~
/**/.*
/**/#*
/**/Makefile.in
/**/*.o
!.gitignore
*.pt
*.lnc_process_window_positions
.rmpm_cache/
/build
/aclocal.m4
/ar-lib
/autom4te.cache/
/config.guess
/**/config.h.in
/config.sub
/configure
/missing
/depcomp
/install-sh
/ltmain.sh
/m4/
/test-driver
/compile
/workspace-release
