Source: service-provider-sercos-protocol-ln-msgdef
Section: utils
Priority: optional
Maintainer: Robert Burger <robert.burger@dlr.de>
Build-Depends: robotkernel-ln-helper (>= 6)
Standards-Version: 4.6.0

Package: service-provider-sercos-protocol-ln-msgdef
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Message definitions for Links-and-Nodes middleware.
